BookingService/src/main/resources/ticket.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ticket.train.sose.univaq.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TicketImplService" targetNamespace="http://service.ticket.train.sose.univaq.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ticket.train.sose.univaq.it/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.ticket.train.sose.univaq.it/" version="1.0">
  <xs:element name="getAvailability" type="tns:getAvailability"/>
  <xs:element name="getTicket" type="tns:getTicket"/>
  <xs:element name="getTicketResponse" type="tns:getTicketResponse"/>
  <xs:complexType name="getTicket">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ticketModel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ticketModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="itinerary" type="tns:itineraryModel"/>
      <xs:element name="noOfPeople" type="xs:int"/>
      <xs:element name="price" type="xs:float"/>
      <xs:element name="ticketId" type="xs:int"/>
      <xs:element minOccurs="0" name="travelClass" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itineraryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalTime" type="xs:string"/>
      <xs:element minOccurs="0" name="departureTime" type="xs:string"/>
      <xs:element minOccurs="0" name="from" type="xs:string"/>
      <xs:element name="itineraryId" type="xs:int"/>
      <xs:element minOccurs="0" name="to" type="xs:string"/>
      <xs:element minOccurs="0" name="train" type="tns:trainModel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trainModel">
    <xs:sequence>
      <xs:element name="capacity" type="xs:int"/>
      <xs:element name="trainId" type="xs:int"/>
      <xs:element name="trainNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAvailability">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trainAvailabilityModel">
    <xs:sequence>
      <xs:element name="trainAvailability">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:int"/>
                  <xs:element minOccurs="0" name="value" type="xs:int"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="trainAvailabilityResponse" nillable="true" type="tns:trainAvailabilityModel"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTicket">
    <wsdl:part element="tns:getTicket" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailabilityResponse">
    <wsdl:part element="tns:trainAvailabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketResponse">
    <wsdl:part element="tns:getTicketResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailability">
    <wsdl:part element="tns:getAvailability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Ticket">
    <wsdl:operation name="getTicket">
      <wsdl:input message="tns:getTicket" name="getTicket">
    </wsdl:input>
      <wsdl:output message="tns:getTicketResponse" name="getTicketResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailability">
      <wsdl:input message="tns:getAvailability" name="getAvailability">
    </wsdl:input>
      <wsdl:output message="tns:getAvailabilityResponse" name="getAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TicketImplServiceSoapBinding" type="tns:Ticket">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTicket">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTicket">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAvailability">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAvailabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketImplService">
    <wsdl:port binding="tns:TicketImplServiceSoapBinding" name="TicketImplPort">
      <soap:address location="http://localhost:8060/TicketService/ticket"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>